.admin-nav {
    grid-row: 2 / 3;
    background-color: #495057;
    color: white;
    padding: 20px;
}

.admin-nav ul {
    list-style-type: none;
    padding: 0;
}

.admin-nav ul li {
    margin: 30px 0;
}

.admin-nav ul li a {
    color: white;
    text-decoration: none;
}

.admin-nav ul li a:hover {
    text-decoration: underline;
}
