.form:has(:invalid) .form__submit-btn {
  opacity: 0.5;
  pointer-events: none;
}
.form__row {
  display: flex;
  gap: 30px;
}
@media (max-width: 767.98px) {
  .form__row {
    gap: 20px;
  }
}
@media (max-width: 575.98px) {
  .form__row {
    flex-direction: column;
    gap: 0;
  }
}
.form__row > * {
  flex: 1;
}
.form__group {
  margin-top: 30px;
}
@media (max-width: 767.98px) {
  .form__group {
    margin-top: 20px;
  }
}
.form__group--inline {
  display: flex;
  align-items: center;
}
.form__group:has(:invalid):has(.form__input:not(:placeholder-shown)) .form__text-input {
  border-color: #ed4337;
  background: rgba(237, 67, 55, 0.1);
}
.form__group:has(:invalid):has(.form__input:not(:placeholder-shown)) .form__error,
.form__group:has(:invalid):has(.form__input:not(:placeholder-shown)) .form__input-icon-error {
  display: block;
}
.form__group:has(:invalid):has(.form__input:not(:placeholder-shown)) .form__input-icon {
  display: none;
}
.form__text-area, .form__text-input {
  display: flex;
  align-items: center;
  padding: 0 12px;
  border-radius: 10px;
  border: 1px solid #d2d1d6;
}
.form__text-area:focus-within, .form__text-input:focus-within {
  border-color: #77dae6;
}
.form__text-area {
  height: 100px;
  padding: 12px;
}
.form__text-area-input {
  resize: none;
}
.form__text-input {
  position: relative;
  height: 46px;
}
.form__text-input--small {
  height: 42px;
}
@media (max-width: 767.98px) {
  .form__text-input {
    height: 48px;
  }
}
.form__input, .form__text-area-input {
  flex: 1;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.44;
}
.form__input::placeholder, .form__text-area-input::placeholder {
  color: var(--form-placeholder-color);
}
.form__input-icon, .form__text-area-input-icon {
  margin-left: 12px;
}
@media (max-width: 767.98px) {
  .form__input, .form__text-area-input {
    font-size: 1.6rem;
  }
}
.form__select-dialog {
  position: absolute;
  bottom: 44px;
  left: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  translate: 0 8px;
  transition: opacity, visibility, translate;
  transition-duration: 0.2s;
  min-width: 230px;
  max-height: 310px;
  padding-bottom: 10px;
  border: 1px solid #d2d1d6;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--form-select-dialog-shadow-color);
  background: var(--form-select-dialog-bg-color);
}
@media (max-width: 575.98px) {
  .form__select-dialog {
    position: fixed;
    max-height: initial;
    max-width: initial;
    inset: 0;
    border-radius: 0;
  }
}
.form__select-dialog.show {
  opacity: 1;
  visibility: visible;
  translate: 0;
}
.form__search {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 38px;
  padding: 0 20px;
  border-bottom: 1px solid #d2d1d6;
}
@media (max-width: 991.98px) {
  .form__search {
    height: 48px;
  }
}
@media (max-width: 575.98px) {
  .form__search {
    padding: 0 14px;
    margin: 10px 30px 0;
    border: 1px solid #d2d1d6;
    border-radius: 10px;
  }
}
.form__search-input {
  flex: 1;
  height: 100%;
  font-size: 1.6rem;
}
.form__search-icon {
  width: 16px;
  margin-left: 10px;
}
@media (max-width: 991.98px) {
  .form__search-icon {
    width: 20px;
  }
}
.form__option-list {
  flex: 1;
  margin-top: 10px;
  overflow-y: auto;
  overscroll-behavior: contain;
}
@supports (-webkit-touch-callout: none) {
  .form__option-list {
    padding-bottom: 300px;
  }
}
.form__option {
  padding: 8px 20px;
  font-size: 1.4rem;
}
@media (max-width: 991.98px) {
  .form__option {
    padding: 18px 30px;
    font-size: 1.6rem;
  }
}
.form__option--current {
  font-weight: 500;
  background: rgba(255, 183, 0, 0.7);
}
.form__option:not(.form__option--current):hover {
  background: var(--form-option-hover-bg-color);
  cursor: pointer;
}
.form__dialog-heading {
  padding: 20px;
  font-style: 1.8rem;
  font-weight: 600;
  text-align: center;
}
.form__close-dialog {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 18px;
  opacity: 0.8;
  font-size: 3rem;
}
.form__error {
  text-align: left;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 10px;
  color: #ed4337;
  display: none;
}
.form__input-icon-error {
  width: 20px;
  display: none;
  margin-left: 12px;
  animation: shake 0.5s;
}
.form__pull-right {
  margin-left: auto;
}
.form__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
}
.form__checkbox::before, .form__checkbox::after {
  content: "";
  position: absolute;
}
.form__checkbox::before {
  width: 19px;
  height: 19px;
  border-radius: 5px;
  border: 1px solid #9e9da8;
}
.form__checkbox::after {
  top: 5px;
  left: 3px;
  width: 13px;
  height: 6px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  rotate: -45deg;
  display: none;
}
.form__checkbox-label {
  margin-left: 29px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46;
  color: #9e9da8;
}
@media (max-width: 767.98px) {
  .form__checkbox-label {
    font-size: 1.4rem;
  }
}
.form__label {
  display: block;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.45;
}
.form__label--medium {
  margin-bottom: 20px;
  font-size: 1.8rem;
  line-height: 1.44;
}
.form__label--small {
  margin-bottom: 10px;
  font-size: 1.4rem;
  line-height: 1.42;
}
@media (max-width: 1199.98px) {
  .form__label--small {
    width: 100%;
  }
}
.form__select-wrap {
  height: 45px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #d2d1d6;
}
.form__select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: var(--width, 108px);
  height: calc(100% - 10px);
  padding: 0 14px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.42;
  cursor: pointer;
}
@media (max-width: 1199.98px) {
  .form__select {
    flex: 1;
  }
}
.form__select-separate {
  width: 1px;
  height: 80%;
  background: #9e9da8;
}
.form__select + .form__select {
  border-left: 1px solid #d2d1d6;
}
.form__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
}
@media (max-width: 575.98px) {
  .form__tags {
    gap: 10px;
  }
}
.form__tag {
  padding: 6px 12px;
  border-radius: 6px;
  color: #9e9da8;
  background: var(--form-tag-bg-color);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.42;
  transition: color 0.25s;
}
.form__tag:hover {
  color: var(--text-color);
}
.form__checkbox:has(:checked)::before {
  border-color: #ffb700;
  background: #ffb700;
}
.form__checkbox:has(:checked)::after {
  display: block;
}
\
