@use "../abstracts";

.footer {
    margin-top: 50px;
    background: var(--footer-bg-color);

    &__inner {
        padding: 60px;
    }

    &__top {
        display: flex;

        @include abstracts.screen(sm) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__logo {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 0 !important;
        margin-right: 20%;

        @include abstracts.screen(xxl) {
            margin-right: 10%;
        }

        @include abstracts.screen(lg) {
            margin-right: 20%;
        }

        @include abstracts.screen(md) {
            margin-right: 10%;
        }

        @include abstracts.screen(sm) {
            margin: 0 0 30px 0;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: flex-start;
        gap: 100px;

        @include abstracts.screen(xl) {
            gap: 50px;
        }

        @include abstracts.screen(lg) {
            grid-template-columns: repeat(2, 1fr);
            gap: 70px;
        }

        @include abstracts.screen(md) {
            gap: 30px;
        }

        @include abstracts.screen(sm) {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }

    &__link {
        display: inline-block;
        padding: 8px 0;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.5;

        &:first-child {
            padding-top: 0;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    &__separate {
        width: 100%;
        height: 1px;
        margin: 30px 0;
        background: #eee;
    }

    &__icon-list {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 15px;
    }

    &__icon--item {
        width: 30px;

        @include abstracts.screen(md) {
            width: 20px;
        }
    }

    &__icon--item:hover {
        opacity: 0.8;
    }

    &__copyright {
        margin-top: 20px;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 400;
    }
}
